@model Empleados.Models.Empleado
@{
    ViewData["Title"] = "Detalles del Empleado";
}

<div class="container">
    <h1 class="my-4">Detalles del Empleado</h1>

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">@Model.Nombre @Model.Apellido</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Id)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Id)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nombre)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Apellido)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Apellido)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Telefono)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Telefono)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Salario)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Salario)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FechaIngreso)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaIngreso)</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group" role="group">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="bi bi-pencil"></i> Editar
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
</div>